



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
/*body {*/
/*    background-color: #83c247;*/
/*}*/
input {
	outline: none;
	border: 2px solid #405573;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: #405573;
}


/*==================================================================
[ Search bar] */
.searchbar{
/*background-image:url('images/icons/iconfinder.ico') ;*/
  display: block;
  width: 100%;
  background-color: white;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #405573;
  padding: 10px 25px;
  text-align: left;
}
.icon {
   padding: 15px;
   color: #405573;
   width: 70px;
   text-align: left;
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #555555;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  padding: 0px 0px 15px;
  width: 100%;
  display: block;
}
.login100-form-title2 {
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #555555;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  padding: 0px 0px 15px;
  width: 100%;
  display: block;
}
.login100-form-title3 {
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #555555;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: block;
}
/*==================================================================
[ table ]*/

.table-wrapper {
    font-family: Poppins-Regular;
    overflow: auto;
    font-size: 15px;
        width:auto;
        /*max-width: 100%;*/
        background-repeat: no-repeat;
        background-color: white;
        background-size: 0px 100%, 0px 100%, 0px 100%, 0px 100%;
        background-position: 0 0, 100%, 0 0, 100%;
        background-attachment: local, local, scroll, scroll;
}

tr {
  border-bottom: 1px solid #405573;
}

th {
    width:10%;
    height: 200%;
  background-color: #405573;
  color: #fff;
  white-space: nowrap;
}

th,
td {
  text-align: center;
  height: 40px;
  padding: 2px 0px 0px 0px;
  border-right: 2px solid #405573;
  border-bottom: 2px solid #405573;

}

p {
  text-align: right;
  /*margin-top: 1em;*/
  /*font-style: italic;*/
  
}

.calctlb {
    font-family: Poppins-Regular;
    overflow: auto;
    font-size: 15px;
        width:20%;
        max-width: 50%;
        background-repeat: no-repeat;
        background-color: #DFF4E0;
        background-size: 0px 100%, 0px 100%, 0px 100%, 0px 100%;
        background-position: 0 0, 100%, 0 0, 100%;
        background-attachment: local, local, scroll, scroll;
}

.calctlb tr {
  border-bottom: 1px solid  #405573;
}

.calctlb th {
    width:20%;
    height: 200%;
  color: #fff;
  white-space: nowrap;
}


.calctlb td {
  text-align: center;
  height: 40px;
  padding: 2px 0px 0px 0px;
  border-right: 2px solid #405573;
  border-bottom: 2px solid #405573;

}

.calctlb p {
  text-align: right;
  /*margin-top: 1em;*/
  /*font-style: italic;*/
  
}
/*------------------------------------------------------------------
[ Input ]*/

.input100 {
  display: block;
  width: 100%;
  background-color: white;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #405573;
  padding: 10px 25px;
  clear: right;
  float: right;
  text-align: right;
}
.editback {
  display: block;
  width: 100%;
  background-color: white;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #405573;
  text-align: center;
}
.stckname {
  display: block;
  background-color: white;
  text-transform: uppercase;
  width: 100%;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #405573;
  clear: right;
  float: right;
  padding: 10px 25px;
  text-align: right;
}

.fullpage{
    width: auto;
    height: 1000px;
    background: linear-gradient(360deg, rgba(64,85,115,1) 0%, rgba(64,85,115,1) 10%, rgba(177,205,124,1) 88.65336658354114%, rgba(188,218,125,1) 96.38403990024938%, rgba(192,221,125,1) 99.25187032418953%);
}

.left-half {
  float: left;
  width: 70%;
  height: auto;
  padding: 30px 20px 20px 20px;

}
.left-full {
  float: left;
  width: 190%;
  height:100%;
  background: transparent;
}
.center{
  padding: 70px 0px 100px 0px;
  text-align: center;
  height: auto;
    
}
.centerrights{
   justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;

}

.right-half {
  float: right;
  width: 30%;
  height: auto;
  padding: 30px 20px 20px 20px;

}

/*------------------------------------------------------------------
[ Button ]*/
.login100-form-btn {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #405573;
  clear: right;
  float: right;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.editinput{
  width: 50%;
  height:60px;
  background-color: white;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #405573;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.editbtn {
  width: 50%;
  height: 60px;
  padding: 20px 20px 30px 40px;
  border-radius: 3px;
  background: #405573;
  justify-content: center;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tablebtn {
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px;
  width: 100%; 
  height: 50px;
  border-radius: 3px;
  background: #405573;
  font-family: Montserrat-Bold;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tablebtn:hover {
  background: #333333;
}
.editbtn:hover {
  background: #333333;
}
.login100-form-btn:hover {
  background: #333333;
}
.tablepftflio {
  text-align: left;
  padding: 0.5em 1em;
  color: #000000;
}

/* tab styling information */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #FFFFFF    ;
  background-color: #FFFFFF    ;
}
.tabheader {   
  background: #f9f9f9    ;
  width: auto;
  height: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border-radius: 15px 15px 0px 0px; 
  background: #405573 ;
  /*color: #555555;*/
  letter-spacing: 2px;
  font-family: Poppins-Regular;
  border: none;
  outline: none;
  padding: 14px 0px 14px 0px;
  width: 16.4%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 30px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: #333333;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:#C0DE7D  ; 
}

/* Style the tab content */
.tabcontent-left {
  animation: fadeEffect 1s;
  float: left;
  height: 100%;
  background: #E0CF79;
  width: 50%;
}
.tabcontent-right {
  animation: fadeEffect 1s;
  float: right;
  height: 100%;
  background: #E0CF79;
  width: 50%;
}
.tabcontent {
  /*  background-image: linear-gradient(to top, #25466a, #305077, #3c5b84, #476591, #53709f, #487faf, #368fbd, #199ec7, #00b4c3, #33c7af, #7cd594, #c0de7d);*/
  /*background-image:linear-gradient(to top, #2d3f60, #006483, #008a8d, #4eac80, #abc66e);*/
  /*opacity: 0.6;*/
  /*background-color: #FFDEE9;*/
  /*background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);*/
    /*background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );*/
    /*background: linear-gradient(360deg, rgba(14,51,78,1) 0%, rgba(128,91,132,1) 60%);*/
    float: left;
  background: linear-gradient(360deg, rgba(64,85,115,1) 0%, rgba(64,85,115,1) 10%, rgba(177,205,124,1) 88.65336658354114%, rgba(188,218,125,1) 96.38403990024938%, rgba(192,221,125,1) 99.25187032418953%);
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  height: auto;
  width:100%;
  padding: 10px 0px 0px 10px;
}

.tabcontent p {
    clear: left;
    text-align: left;
    float: right;
    align-items:right;
    width:50%;
    height: auto;
    padding: 0px 17px 0px 10px;
    font-family: Poppins-Regular;
  font-size: 15px;
}

.tabcontent pov {
    
    width:100%;
    height: 100%;
    
}

.tabcontent h4 {
    clear: left;
    text-align: left;
    float: right;
    align-items:right;
    width:auto;
    height: auto;
    padding: 0px 0px 0px 10px;
    font-family: Poppins-Regular;
    font-size: 15px;
}
.tabcontent h5 {
    clear: left;
    clear:right;
    text-align: left;
    float: right;
    align-items:right;
    width:auto;
    height: 100%;
    padding: 0px 0px 0px 10px;
    font-family: Poppins-Regular;
    font-size: 15px;
}
.tabcontent h3 {
    clear: right;
  float: left;
  text-align: left;
  align-items:left;
  font-size: 30px;
  width:50%;
  padding: 10px 10px 0px 8px;
}
.tabcontent h2 {
     clear: right;
    text-align:left;
    float: right;
    align-items:right;
    height: auto;
    width:50%;
    padding: 10px 2px 0px 0px;
    font-family: Montserrat-Bold;
    font-size: 25px;
}
.highcharts-figure{
    float:left;
    min-width: 320px;
    max-width: 800px;
    /*width: auto;*/
    /*margin: 1em auto;*/
}
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 2em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #000;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}


#master-container {
    position: absolute;
    top: 300px;
    height: 100px;
    width: 100%;
}
#container {
    height: 400px;
}
input[type="number"] {
  min-width: 50px;
}



