main{
    padding: 1em;
}

.table-wrapper {
    font-family: arial;
    overflow: auto;
        max-width: 100%;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
        background-position: 0 0, 100%, 0 0, 100%;
        background-attachment: local, local, scroll, scroll;
}

tr {
  border-bottom: 1px solid;
}

th {
  background-color: #555;
  color: #fff;
  white-space: nowrap;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}

p {
  text-align: right;
  margin-top: 1em;
  font-style: italic;
  
}