@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: Montserrat-Bold;
  color: #C0DE7D;
}



.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #3498db url(https://miro.medium.com/max/7200/0*vaztV8d9wTXZUKhN);
  background-size: cover;
  background-position: 50% 50%;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #e74c3c url(wallst.jpeg);
  background-size: cover;
  background-position: 50% 50%;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  /*background: linear-gradient(360deg, rgba(64,85,115,1) 0%, rgba(64,85,115,1) 10%, rgba(177,205,124,1) 88.65336658354114%, rgba(188,218,125,1) 96.38403990024938%, rgba(192,221,125,1) 99.25187032418953%);*/
  left: 0;
  position: absolute;
}

.right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
 /*background: linear-gradient(360deg, rgba(192,222,125,1) 0%, rgba(192,222,125,1) 3.865336658354115%, rgba(192,222,125,1) 10%, rgba(64,85,115,1) 100%);*/
  right: 0;
  position: absolute;
}

.content {
  width: 250px;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 50%;
  color:#C0DE7D;
  margin-left: -125px;
  font-family: Poppins-Medium;
}

.content h2 {
    text-align:center;
  color:  #405573;
  font-weight: 300;
  font-size: 35px;
  font-family:  Montserrat-Bold;
}

button {
  background:  #405573;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform:  uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

button:hover {
  background: #333333;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
.off {
  background: none;
  color: #405573;
  box-shadow: none;
}

.right .off:hover {
  background: #eee;
  color: #405573;
  box-shadow: none;
}
.left .off:hover {
  box-shadow: none;
  color: #405573;
  background: #363A3D;
}
input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #C0DE7D;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  
}

